<!-- 分类模板 -->
<%- partial("_partial/header") %>

<%- css('css/font.css') %>
<%- css({href: 'css/category.css', media: 'screen and (min-width: 600px)' }) %>
<%- css({href: 'css/category_mobile.css', media: 'screen and (max-width: 600px)' }) %>

<div class="tag-box">
    <div id="archives">
            <% if (site.categories) { %>
				<% site.categories.sort('name').each(function(site_item){%> 
					<% if (site_item && site_item.name) { %>
						<div class="archive-group">
							<div id="<%- site_item.name %>"></div>
							<p></p>
							<a class="category-head">「<%= site_item.name %>」</a>
							
							<% site.posts.each(function (post) {%>
							<% post.categories.sort('name').each(function(post_item){ %> 
								<% if(post_item.name == site_item.name){%>
									<article class="archive-item">
									<a href="<%- url_for(post.path) %>"><%= post.title %></a>
									</article>
								<% }})}) %>
						</div>
					<% } %>
				<% }) %>
			<% } %>
	</div>
	
	<div class="categories-area">
		<% if (site.categories) { %>
			<a class="category-item">
				<div class="category-name" style="font-size: 28px">总篇数</div>
				<div class="category-number" style="font-size: 28px">[<%= site.posts.length %>]</div>
			</a>
			<% site.categories.sort('name').each(function(site_item){ %> 
				<% if (site_item && site_item.name) { %>
					<a class="category-item" href="#<%- site_item.name %>">
						<div class="category-name"><%= site_item.name %></div>
						<div class="category-number">[<%= site_item.posts.length %>]</div>
					</a>
				<% } %>
			<% }) %>
		<% } %>
	</div>
</div>
<%- partial('_partial/totop') %>
<script src="<%- config.root %>js/totop.js"></script>