<%- partial("_partial/header") %>

<%- css('css/font.css') %>
<%- css('css/category.css') %>

<div class="tag-box">
    <div id="archives">
        <div class="archive-group">
            <% if (site.categories) { %>
				<% for (var i=0; i < site.categories.data.length; i++) { %> 
					<% if (site.categories.data[i] && site.categories.data[i].name) { %>
						<a class="category-head">「<%= site.categories.data[i].name %>」</a>
						<% site.posts.each(function (post) {%>
						<% if(post.categories.data[0].name == site.categories.data[i].name){%>
							<article class="archive-item">
							<a href="<%- url_for(post.path) %>"><%= post.title %></a>
							</article>
						<% }}) %>
					<% } %>
					<br>
				<% } %>
			<% } %>
		</div>
	</div>
	
	<div class="categories-area">
		<% if (site.categories) { %>
			<% for (var j=0; j < site.categories.data.length; j++) { %> 
				<% if (site.categories.data[j] && site.categories.data[j].name) { %>
					<a class="category-item" href="/categories/<%- site.categories.data[j].name %>"><%= site.categories.data[j].name %></a>
				<% } %>
			<% } %>
		<% } %>
	</div>
</div>