<!-- 文章详情页模板 -->

<%- partial("_partial/header") %>

<%- css('css/font.css') %>
<%- css({href: 'css/post.css', media: 'screen and (min-width: 600px)'}) %>
<%- css({href: 'css/post_mobile.css', media: 'screen and (max-width: 600px)'}) %>
<%- css('css/highlight.css') %>



<div class="toc">
<%- toc(page.content,{list_number:false}) %>
</div>

<div class="content-area">
	<div class="title">
		<%- page.title %>
	</div>
	
	<div class="page-date">
		<%- full_date(page.date, 'YYYY-MM-DD')%>
	</div>
	
	<div class="category-area">
		<% if (page.categories) { %>
			<% for (var j=0; j < page.categories.data.length; j++) { %> <% if (page.categories.data[j] &&
				page.categories.data[j].name) { %>
				「
				<div class="category">
					<a href="/categories/<%- page.categories.data[j].name %>"><%- page.categories.data[j].name %></a>
				<% } %>
				</div>
				」
			<% } %>
		<% } %>
	</div>
	
	<div class="content">
		<%- page.content %>
	</div>
</div>
<%- partial('_partial/totop') %>
<script src="<%- config.root %>js/totop.js"></script>