<!-- 主页标题栏 -->
<%- css('css/navigatebar.css') %>

<header class="header">
	<div class="topbar">
		<div class="topbar-button topbar-mine">
			<a href="<%- url_for() %>">
				<%= config.title %>
			</a>
		</div>
		<% for (name in theme.menu) { %>
			<div class="topbar-button">
				<a href="<%- url_for(theme.menu[name]) %>">
					<%- __(name) %>
				</a>
			</div>
		<% } %>

	</div>
	<div class="slogan">
		「生活可以更简单, 欢迎来到我的开源世界」
	</div>
</header>